article, aside, footer, header, hgroup, main, nav, section{display:block}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#f5f7fb}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;font-family:'Apple SD Gothic Neo','Malgun Gothic','맑은 고딕',sans-serif;color:#555;word-break:break-all}
a{color:#111;text-decoration:none;cursor:pointer}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
img{vertical-align:top}
strong, b, th, h1, h2, h3, h4, h5, h6{font-weight:600}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:0}
h1{font-size:0}

.ico_comm{display:inline-block;font-size:0;line-height:0;overflow:hidden;background-image:url('../images/ico_comm.png');background-size:170px 160px;text-indent:-9999px}
.btn_inquiry {width:120px;height:33px;margin-left:34px;background-color:#33c4b6;color:#fff}

.wrap {min-width:1280px}
.gnb {position:fixed;top:0;left:0;z-index:10000;width:170px;height:100%;min-height:500px;background-color:#2e3740;box-sizing:border-box}
.gnb h1 {position:absolute;top:18px;left:17px}
.gnb h1 > .ico_comm {width:80px;height:17px;vertical-align:top}
.gnb .contain_ico {position:absolute;top:50%;left:13px;width:22px}
.gnb .txt {display:inline-block;white-space:nowrap;font-weight:300}

.gnb_list {margin-top:63.5px}
.gnb_list li {position:relative;margin-bottom:6px}
.gnb_list a {display:block;height:40px;line-height:40px;padding-left:52px}
.gnb_list .txt{display:block;font-size:15px;color:#fff}
.gnb_list .ico_comm {display:block;margin:0 auto}
.gnb_list .ico_home {margin-top:-7px;width:18px;height:15px;background-position:0 -20px}
.gnb_list .ico_users {margin-top:-9px;width:16px;height:18px;background-position:-20px -20px}
.gnb_list .ico_group {margin-top:-6px;width:22px;height:13px;background-position:-40px -20px}
.gnb_list .ico_data {margin-top:-8px;width:15px;height:17px;background-position:-70px -20px}
.gnb_list .ico_mydata {margin-top:-10px;width:18px;height:19px;background-position:-90px -20px}
.gnb_list li:hover {background-color:#000}
.gnb_list li:hover .txt {color:#1dcdbc}
.gnb_list li:hover .ico_home {background-position:0 -40px}
.gnb_list li:hover .ico_users {background-position:-20px -40px}
.gnb_list li:hover .ico_group {background-position:-40px -40px}
.gnb_list li:hover .ico_data {background-position:-70px -40px}
.gnb_list li:hover .ico_mydata {background-position:-90px -40px}

.gnb_list li.on {background-color:#000}
.gnb_list li.on .txt {color:#1dcdbc}
.gnb_list li.on .ico_home {background-position:0 -40px}
.gnb_list li.on .ico_users {background-position:-20px -40px}
.gnb_list li.on .ico_group {background-position:-40px -40px}
.gnb_list li.on .ico_data {background-position:-70px -40px}
.gnb_list li.on .ico_mydata {background-position:-90px -40px}

.gnb .btn_group {position:relative;margin:0 13px;padding-top:12px}
.gnb .btn_group .ico_comm {position:absolute;top:24px;left:22px}
.gnb .btn_group .txt {padding-left:11px}
.gnb .btn_group_upload {display:block;width:100%;height:40px;background:linear-gradient(-90deg, #2fbcae, #38c6f2);color:#fff}
.gnb .btn_group_upload .ico_comm {width:13px;height:14px;background-position:-110px 0;vertical-align:top}
 
.gnb_footer {position:absolute;bottom:10px;left:0;right:0}
.gnb_footer a {position:relative;display:block;height:40px;line-height:40px;padding-left:52px;color:#fff}
.gnb_footer .ico_comm {display:block;margin:0 auto}
.gnb_footer .ico_logout {margin-top:-6px;width:16px;height:12px;background-position:-110px -20px}
.gnb_footer .ico_help {margin-top:-7px;width:10px;height:14px;background-position:-130px -20px}
.gnb_footer a:hover {color:#1dcdbc}
.gnb_footer a:hover .ico_logout {background-position:-110px -40px}
.gnb_footer a:hover .ico_help {background-position:-130px -40px}

.gnb .btn_menu {position:absolute;top:18px;right:14px}
.gnb .btn_menu .ico_comm {width:16px;height:15px;background-position:-90px 0}

.gnb_min {width:48px}
.gnb_min .btn_menu {right:20px}
.gnb_min .btn_menu .ico_comm {width:10px;height:15px;background-position:-130px 0}
.gnb_min h1 {display:none}
.gnb_min .txt {display:none}
.gnb_min .btn_group {margin:0 12px}
.gnb_min .btn_group_upload {background:transparent}
.gnb_min .btn_group .btn_group_upload .ico_comm {top:12px;left:0;width:24px;height:25px;background-position:-140px 0}


.contents {margin-left:170px;padding:27px 40px}
.contents h2 {display:block;font-size:26px;color:#000}
.contents p {margin-top:5px}
.contents_more {margin-left:48px}
.category_select {margin-top:37px;width:572px;height:70px;padding:18px 30px;background-color:#d7dde5;box-sizing:border-box}
.category_select .selection {float:left;width:154px}
.category_select .ico_arrow {float:left;margin:12px 19px 0;width:6px;height:10px;background-position:-160px -30px}

.selection {position:relative}
.selection select {display:none}
.select_selected {cursor:pointer;border:1px solid #e3e3e3;height:31px;line-height:31px;padding:0 12px;background-color:#fff;color:#959db3}
.select_selected:after {position:absolute;right:18px;top:12px;width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:7px solid #959db3;vertical-align: middle;content:''}
.select_item {position:absolute;top:33px;left:0;width:100%;max-height:200px;overflow-y:auto;border:1px solid #e3e3e3;border-top:0;background-color:#fff;box-sizing:border-box;z-index:100}
.select_item > div {height:33px;line-height:33px;padding-left:12px;cursor:pointer}
.select_item > div:first-child {border-top:0}
.select_item > div:hover {background-color:#1dcdbc;color:#fff}
.select_item::-webkit-scrollbar-track{background-color:#fff}
.select_item::-webkit-scrollbar{width:8px;background-color:#fff}
.select_item::-webkit-scrollbar-thumb{border-radius:10px;background-color:#959db3}

.select_hide .select_item{display:none}
.select_hide .select_selected{color:#000}
.select_hide .select_selected:after {border-top-color:#1dcdbc}



.category {margin-top:28px}
.sub_titles {position:relative}
.sub_titles:after {display:block;clear:both;content:''}
.sub_titles strong {float:left;padding-left:5px}
.sub_titles .link_help {float:left;width:17px;height:17px;margin:1px 0 0 6px}
.sub_titles .link_help .ico_comm {width:17px;height:17px;background-position:-20px -60px}
.sub_content {position:relative;margin-top:10px;background-color:#fff;border:1px solid #d7dde5;border-bottom:0}
.sub_content .section {padding:22px 30px;border-top:1px solid #d7dde5;box-sizing:border-box}
.sub_content .section:first-child {border-top:0}
.sub_content .section strong {font-size:18px;font-weight:bold}
.category .bundle_inp {position:absolute;top:-30px;right:0}

.sub_selector {margin-top:13px}
.sub_selector:after {display:block;clear:both;content:''}
.sub_selector .selection {float:left;width:120px}
.sub_selector .btn_inquiry {float:left;margin-left:14px}

.sub_data {position:relative;background-color:#ebeef2;border:1px solid #d7dde5;border-top:0}
.sub_data strong {position:relative;display:block;padding:13px 15px;margin-left:15px}
.sub_data strong:after {position:absolute;left:0px;top:19px;width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:7px solid #959db3;vertical-align:middle;content:'';}
.sub_data .link_download {position:absolute;top:13px;right:20px;text-decoration:underline}

/* 공통 input-radio */
.radio_inp {display:inline-block;position:relative;padding-left:27px;vertical-align:middle}
.radio_inp .inp_radio {position:absolute;left:0;top:0;z-index:-1;width:22px;height:22px;opacity:0.01;filter:alpha(opacity=0)}
.radio_inp .ico_radio {position:absolute;left:0;top:-1px;width:22px;height:22px;border:1px solid #dce1e7;border-radius:50px;box-sizing:border-box;background-color:#fff}
.radio_inp:hover .ico_radio, .radio_inp.over .ico_radio {border:1px solid #d1d1d1;cursor:pointer}
.radio_inp.on .ico_radio:after {position:absolute;top:4px;left:4px;width:12px;height:12px;border-radius:50px;background-color:#1dcdbc;content:''}
.radio_inp .inp_radio:checked + .ico_radio:after {position:absolute;top:4px;left:4px;width:12px;height:12px;border-radius:50px;background-color:#1dcdbc;content:''}
.radio_inp .inp_radio:disabled + .ico_radio {background-color:#e8e8e8;cursor:default}
.radio_inp:hover > .inp_radio:disabled + .ico_radio {border:1px solid #dce1e7}
.radio_inp + .radio_inp {margin-left:9px}

.box_radioinp {display:inline-block;position:relative;vertical-align:top}i
.box_radioinp .inp_radio {position:absolute;left:0;top:0;z-index:-1;width:22;height:22;opacity:0.01;filter:alpha(opacity=0)}
.box_radioinp .ico_radio {position:absolute;left:0;top:0;width:22px;height:22px;border:1px solid #dce1e7;box-sizing:border-box}
.box_radioinp .lab_radio {display:block;height:100%;padding-left:26px;color:#555;cursor:pointer}
.box_radioinp:hover .ico_radio, .box_radioinp.over .ico_radio {background-position:-40px -50px}
.box_radioinp .inp_radio:checked + .lab_radio .ico_radio {background-position:-60px -50px}
.box_radioinp.on .lab_radio .ico_radio {background-position:-60px -50px}
.box_radioinp.on_disabled, .box_radioinp.on_disabled .inp_radio {cursor:default;pointer-events:none}
.box_radioinp.on_disabled .ico_radio {background-position:-120px 0}

/* 공통 input-text */
.box_inptxt {display:block;position:relative;height:20px;padding:5px 15px 9px;border-radius:2px;border:1px solid transparent;border-color:#a3a3a3 #ccc #ccc #a3a3a3;background-color:#fff}
.box_inptxt .inner_inp {display:block;overflow:hidden;height:100%}
.box_inptxt .lab_txt {position:absolute;left:15px;top:50%;margin-top:-11px;color:#a0a0a0;cursor:text}
.box_inptxt .inp_txt {display:block;width:100%;height:100%;border:0 none;padding:0;background-color:transparent;color:#111;outline:0 none}
.box_inptxt:hover, .box_inptxt.over {border-color:#999}
.box_inptxt.on {border-color:#0099e6}
.box_inptxt.on_disabled {background-color:#e6e6e6;cursor:default;pointer-events:none}
.box_inptxt.on_disabled.over, .box_inptxt.on_disabled:hover {border-color:#a3a3a3 #ccc #ccc #a3a3a3}
.box_inptxt.on_disabled .inp_txt {color:#a0a0a0}
.box_inptxt.on_disabled .inp_txt[disabled] {color:#a0a0a0;background-color:#e6e6e6}
.box_inptxt.on_error {border-color:#fc4842}
.box_inptxt.on .lab_txt, .box_inptxt.on_write .lab_txt, .box_inptxt.on_disabled .lab_txt, .box_inptxt.on_error .lab_txt {display:none}
.box_inptxt.help_inp {padding-right:43px}

/* 공통 - 툴팁 */
.tooltip_basic {z-index:100;white-space:normal}
.tooltip_basic .txt_tooltip {display:block;text-align:left;word-break:break-all;font-size:11px;margin-top:0}
.tooltip_basic .txt_tooltip + .txt_tooltip {margin-top:5px}
.tooltip_basic .tit_tooltip {display:block;text-align:left;font-weight:600}
.tooltip_basic.ly_tooltip {display:none;padding:5px 8px;border:1px solid #dadfe7;border-radius:4px;font-weight:normal;font-size:12px;line-height:18px;background-color:#fff}
.tooltip_basic.ly_tooltip .ico_arrtip {position:absolute;top:9px;left:-4px;width:4px;height:9px;border:0 none;background-position:-140px -30px}
.tooltip_basic .txt_tooltip .txt {position:relative;display:block;padding-left:5px;color:#353e57}
.tooltip_basic .txt_tooltip .txt:after {position:absolute;top:50%;left:0;width:2px;height:2px;margin-top:-2px;border-radius:10px;background-color:#353e57;content:''}

/* 공통 input-checkbox */
.check_inp{display:inline-block;position:relative;vertical-align:middle;padding-left:23px}
.check_inp .inp_check{position:absolute;left:0;top:0;z-index:-1;width:16px;height:16px;opacity:0.01;filter:alpha(opacity=0)}
.check_inp .ico_check{position:absolute;left:0;top:1px;width:16px;height:16px;border:1px solid #dce1e7;box-sizing:border-box;background-color:#fff}
.check_inp:hover .ico_check, .check_inp.over .ico_check{border:1px solid #d1d1d1;cursor:pointer}
.check_inp .inp_check:checked + .ico_check:after{position:absolute;top:2px;left:2px;width:10px;height:10px;background-color:#1dcdbc;content:''}
/* .check_inp.in_active, .check_inp.in_active .inp_check{cursor:default;pointer-events:none}
.check_inp.in_active .ico_check{background-position:-100px 0} */

.login {position:absolute;top:50%;left:0;right:0;margin-top:-169px}
.login .inner_login {position:relative;width:350px;margin:0 auto}
.login h1{text-align:center;margin-bottom:36px}
.login h1 .ico_comm {width:148px;height:27px;background-position:0 -80px}
.login .inp {position:relative}
.login .inp input {width:100%;border:1px solid #d2d4d5;height:46px;line-height:46px;padding-left:99px;box-sizing:border-box}
.login .inp input:focus {outline:none;background:#b6e9e7;border:1px solid #56d8c9;color:#fff}
.login .inp input::placeholder {color:#d7dde5}
.login .inp input:focus::placeholder {color:#fff}
.login .inp + .inp {margin-top:9px}
.login .inp .ico_comm {position:absolute;top:50%;left:28px;margin-top:-9px}
.login .inp .ico_id{width:16px;height:17px;background-position:-40px -60px}
.login .inp .ico_password{width:14px;height:18px;background-position:-60px -60px}
.login .check_inp {margin-top:12px;color:#2e3740}
.login .btn_login {width:100%;height:47px;margin-top:33px;background-color:#e70546;font-size:20px;font-weight:bold;color:#fff}
.login .list_info {overflow:hidden;margin-top:18px}
.login .list_info li {position:relative;padding-left:20px}
.login .list_info li:after {position:absolute;top:50%;left:12px;width:2px;height:2px;margin-top:-2px;border-radius:10px;background-color:#413738;content:''}
.login .list_info li > em {font-weight:bold}
.login .info {position:absolute;top:175px;right:0;text-align:right;font-size:13px}